/*Body Styling, reset etc.*/

:root {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-size: 10px
}

body {
      display: flex;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
}

/* component styling */

/* card section styling */

ul {
      list-style-type: none;
}