/*Body Styling, reset etc.*/

:root {

      font-size: 18px
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Hanken Grotesk', sans-serif;
}

body {
      display: flex;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
}

/* component styling */

/* card section styling */

.cards-container {

      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 5px 43px rgba(71, 57, 108, 0.2);
      border-radius: 30px;
}

.card {

      height: 28rem;
      width: 20rem;
      border-radius: 30px;

}




/* card left styling */

.card-left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background: rgb(68, 51, 241);
      background: linear-gradient(0deg, rgba(68, 51, 241, 1) 5%, rgba(103, 67, 255, 1) 62%);
      color: #FDFEFF;

}

.card-left p {
      width: 15rem;
      font-size: 18px;
}

.card-left h4 {
      font-size: 1.4rem;
      opacity: 0.6;
}

.card-left h3 {
      font-size: 1.5rem;
}

.points-total-circle {
      background: rgb(74, 36, 207);
      background: linear-gradient(0deg, rgba(74, 36, 207, 0.1) 5%, rgba(74, 36, 207, 1) 83%);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border-radius: 50%;
      height: 12rem;
      width: 12rem;
}

.points-total-circle h2 {
      font-size: 4rem;
}

.points-total-circle div {
      width: 5rem;
      text-align: center;
      opacity: 0.5
}

.left-lower-text {
      opacity: 0.7;
      text-align: center;
      margin-top: -10px;
      width: 14rem !important;
}




/* Right Card Styling */



.class-right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
}

.class-right h4 {
      margin-left: -12rem;
      font-size: 1.2rem;
      margin-top: -10px;
}

.card-right-list {
      display: flex;
      flex-direction: column;
      gap: 18px;
}

.skillresult {
      display: flex;
      justify-content: space-between;
      width: 16rem;
      height: 3rem;
      padding: 0.5rem;
      border-radius: 10px;
      align-items: center;
}

.grey-text {
      color: grey;
}

.grey-text span {
      color: black;
      font-weight: 700;
}

.logo-description {
      display: flex;
      gap: 15px;
}



ul {
      list-style-type: none;
}

/* individual subsections */

.reaction {
      color: hsl(0, 100%, 67%);
      background-color: hsla(0, 100%, 67%, 10%)
}

.memory {
      color: hsl(39, 100%, 56%);
      background-color: hsla(39, 100%, 56%, 10%)
}

.verbal {
      color: hsl(166, 100%, 37%);
      background-color: hsla(166, 100%, 37%, 10%)
}

.visual {
      color: hsl(234, 85%, 45%);
      background-color: hsla(234, 85%, 45%, 10%);
}

button {
      color: white;
      background: rgb(48, 59, 89);
      background: linear-gradient(0deg, rgba(48, 59, 89, 1) 0%, rgba(48, 59, 89, 1) 100%);
      border: none;
      height: 3rem;
      width: 16rem;
      border-radius: 30px;
      font-size: 0.9rem;
      transition: all 2s ease-in;

}

button:hover {
      cursor: pointer;
      background: linear-gradient(0deg, rgba(68, 51, 241, 1) 5%, rgba(103, 67, 255, 1) 62%);
}